<div class="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
	        <a class="" rel="home" th:href="@{/project/view}" ><img th:src="@{/images/logo.jpg}" style="height:50px; margin-left: 0px;" /></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<div class="col-sm-3 col-md-3 pull-right text-right"><br />
			</div>
			<div class="col-sm-3 col-md-3 pull-right">
			</div>
		</div>
	</nav>
</div>