/* Reset */  
 h1, h2, h3, h4, h5, h6, img, ul, li, table, p, hr { border:0px; margin:0px; padding:0px; font-weight:400;}

/* Basic Elements */  
html,body{ color:#2F2F2F; font-family: 'Open Sans', Segoe UI, Verdana; font-size:15px; height:100%; margin:0px; padding:0px; }
input, textarea, keygen, select, button { font-family: 'Open Sans', Segoe UI, Verdana; font-size:13px; }
a { text-decoration:none; }
h3 { font-size:17px; }

/* .................. Style for Scrollbar ................... */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track-piece { background-color: #DFE0E1; }
::-webkit-scrollbar-thumb { background-color: #C4C4C5; border: 1px solid #A5A6A6; }

/* .................. Common Style for all pages ................... */
.dir-left { float:left; }
.dir-right { float:right; }
.clear { clear:both; }
.pos-abs { position:absolute;}
.pos-rel { position:relative;}
.text-center { text-align:center; }
.white-txt { color: #F9F9F9; }
.blue-txt { color:#0F7ABE; }
.semibold-txt { font-weight:600;}
.ele-hide { display:none; }
.ele-show { display:block; }
.ele-navbtn-icon{height: 18px; padding: 15px;}
.ele-margin { margin:10px; }
.ele-margin-left { margin-left:10px; }
.ele-margin-left-big { margin-left:40px; }
.ele-margin-right { margin-right:10px; }
.ele-margin-top { margin-top:10px; }
.ele-margin-bottom { margin-bottom:10px; }
.ele-margin-bottom-big { margin-bottom:20px; }
.ele-padding { padding:10px; }
.ele-padding-big { padding:20px; }
.ele-padding-left-big { padding-left:40px; }
.ele-padding-right{padding-right:10px;}
.ele-padding-right-big { padding-right:40px; }
.ele-padding-sml { padding:5px 10px; }
.ele-bdr { border: 1px solid #D0D0D0; }
.ele-bdr-bottom { border-bottom:1px solid #9A9A9A; }
.ele-bdr-rad { border-radius:3px; }
.ele-shadow { box-shadow: 1px 3px 10px #C6C6C6; }
.ele-popshadow{ box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15)}
.ele-click { cursor:pointer; }
.ele-btn {margin: 5px;background-color: #0F7ABE; border:0px; border-radius:3px; line-height:28px; min-width:80px; }
.ele-btnrd {margin: 5px; background-color: #B8202D; border:0px; border-radius:3px; line-height:28px; min-width:80px; }
.ele-btnrd:hover { -webkit-box-shadow: 3px 3px 6px 0px rgba(112,112,112,1); -moz-box-shadow: 3px 3px 6px 0px rgba(112,112,112,1); box-shadow: 3px 3px 6px 0px rgba(112,112,112,1);}
.ele-btn:hover { -webkit-box-shadow: 3px 3px 6px 0px rgba(112,112,112,1); -moz-box-shadow: 3px 3px 6px 0px rgba(112,112,112,1); box-shadow: 3px 3px 6px 0px rgba(112,112,112,1);}
.ele-textbox { border:0px; border-bottom:1px solid #9A9A9A; background-color:transparent; width:59%; padding:2px 0px; font-family: 'Open Sans', Segoe UI, Verdana;}
.ele-textarea { width: 57.5%; height:80px; margin-top: 10px; resize:none; overflow-y:auto; font-family: 'Open Sans', Segoe UI, Verdana;}
textarea:focus, input:focus, select:focus { border-bottom:1px solid #0F7ABE; outline:none; }
.ele-sec{width: 50%; border-top: 6px solid #0F7ABE; background: #f5f5f5; padding-top: 10px; min-height: 100px;}
.form-label { text-align:right; width:30%; margin-right:3%; margin-top:2px;font-weight: 600; }
.form-labelSignup {text-align: left;width: 30%;margin-top: 2px;margin-bottom: 5px;}
.pagecontainer { margin: 8px 4%; padding-top: 10px; }
.ele-hdr { border-bottom: 1px solid #D4D4D4; line-height: 26px; }
.ele-help { background:url(../images/help-icn.png) no-repeat center center; height:22px; width:22px; margin-left:5px; cursor: help; }
.full-width { width:100%; }
.headingtxt{font-size:17px;font-weight:700;}
.ele-src-heading{ font-weight: 600;text-align: left; text-decoration: underline;}

.modal-header {
   background:#0F7ABE;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   color:white;
}
.ele-error{text-align: center; color: red;}
    
    
    
div.disabled
{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}
    
    