.es-table-wrap{
	padding-top:10px;
}
.es-table-wrap .exclusion-grid{
	border:1px solid #ddd;
	width:100%;
}
.modal-table-wrap{
	margin:10px;
}
.modal-table-wrap .exclusion-grid{
	border:1px solid #ddd;
	margin-bottom:10px;
}

.lbl{
	color: #333;
    font-weight: bold;
}
.exclusion-grid tr th{
	background-color:#ccc;
    color:#333;
    font-weight:bold;
    text-transform:uppercase;
    padding:5px;
    border-right:1px solid #ddd;
}
input[type=checkbox].custom-checkbox,
.exclusion-grid tr td input[type=checkbox].head-checkbox {
	position: absolute;  overflow: hidden;  
	clip: rect(0 0 0 0);  
	height:1px;  
	width:1px;  margin:-1px;  
	padding:0; 
	border:0; 
} 
input[type=checkbox].custom-checkbox + label.chk-label ,
.exclusion-grid tr td input[type=checkbox].head-checkbox + label.chk-label { 
	padding-left:15px; 
	height:15px;  
	display:inline-block; 
	line-height:15px; 
	background-repeat:no-repeat; 
	background-position: 0 -15px; 
	font-size:15px; 
	vertical-align:middle; 
	cursor:pointer; 
}
input[type=checkbox].custom-checkbox:checked + label.chk-label , 
.exclusion-grid tr td input[type=checkbox].head-checkbox:checked + label.chk-label { 
	background-position: 0 0px; 
}  
.chk-label ,
.exclusion-grid tr td .chk-label{ 
	background-image:url(../css/images/chk-green-red.png); 
}
.exclusion-grid tr td{
	background-color:#f5f5f5;
    color:#333;
    padding:5px;
     border-right:1px solid #ddd;
}
.exclusion-grid tr:nth-child(odd) td{
	background-color:#fff;
    color:#333;
    padding:3px 5px;
}
.displayArea-height #filePreviewOuterWrap {
	/* position: absolute;
	top:0;
	left:0; */
	width:100%;
	height:100%;
}
.displayArea-height #filePreviewOuterWrap #filePreviewWrap{
	width:100%;
	height:100%;
}
.displayArea-height #filePreviewOuterWrap #filePreviewWrap.loading {
	background: #efefef url(../images/loading.gif) center center no-repeat
}
.tab-view-wrapper .card-header >h6{
	width:50%;
	float:left;
}
.tab-view-wrapper .nav-tabs{
	border:none;
}
.tab-view-wrapper .nav-tabs .nav-link{
	color: #fff;
    background-color: #6c757d;
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6;
    padding: 3px 12px;
    margin-right:3px;
    border-radius: 3px;
}
.tab-view-wrapper .tab-content>.tab-pane {
	color:#333;
	background-color:#fff;
}
.undo-del-img{
	width:14px;
	cursor:pointer;
}
.tab-view-wrapper .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
}
.subject-sub-list,
.subject-sub-list .sub-list{
	list-style-type:none;
	font-size:14px;
	padding-top: 3px;
}
.subject-sub-list li,
.subject-sub-list .sub-list li{
	padding:3px;
}
.subject-sub-list .sub-list li{
	margin-left: -20px;
}
.subject-sub-list li.item.active{
	background:transparent;
}
.subject-sub-list li > .fa,
.subject-sub-list .sub-list li > .fa{
	margin-right:10px;
	color:#333;
}
.subject-sub-list li.item.active > .fa,
.subject-sub-list .sub-list li.item.active > .fa{
	color: #017bff;
}
.subject-sub-list li.item.active >a,
.subject-sub-list .sub-list li.item.active{
	color: #017bff;
    font-weight: 600;
    background-color: #a1ceff;
}
.subject-sub-list  li.item.active a,
.subject-sub-list .sub-list li.item.active a{
	text-decoration:underline;
}
.sub-table-outer-wrap{
	max-height:600px; 
	overflow-y:auto;
	max-height: 600px;
	width: 100%; 
	margin: 10px; 
	padding: 5px;
}
.toggle-group .btn{
	padding: 0 8px;
}
.toggle.btn.btn-default,
.toggle.btn.btn-primary{
	width:90px!important;
}
body .ajax-loader{
	width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    position: absolute;
   background: url(../images/loading.gif) center center no-repeat;
}

#chartPreviewOuterWrap .plotChart  {
	border: solid 2px transparent;
}
#chartPreviewOuterWrap .plotChart:hover,
#chartPreviewOuterWrap .plotChart.active {
	border: solid 2px #3498DB;
}
.dataSelection-height.file-wrap-height{
	height:69vh;
}
.ranalytics-page .studyDetails-height { height:20vh;min-height:150px;}
.ranalytics-page .dataSelection-height { height:51vh;}
.ranalytics-page .dataSelection-height.file-wrap-height { height: 60vh;}

/* -------------- Override Bootstrap Table style to make similar as Kendo Grid-------------- */
.kendo-custom-table.table thead th, .custom-table.table thead th { background-color: #e1e6ef; border-bottom:0px solid transparent; border-top: 1px solid #3498db; line-height: 18px;}
.table-striped tbody tr:nth-of-type(even) { background-color: #f9fafb; }
.table-striped tbody tr:nth-of-type(odd) { background-color: #ffffff; }
.kendo-custom-table.table td, .custom-table.table td, .table th,.k-grid td{padding:5px 8px; vertical-align: middle!important; }
.kendo-custom-table.table tr:hover, .custom-table.table tr:hover { background-color: #ebf6ff;}
.kendo-custom-table.table tr:hover td, .custom-table.table tr:hover td { border-top:1px solid #74B9EC; border-bottom:1px solid #74B9EC; }
.k-grid tr th, .k-grid tr td{ border-left: 1px dotted #ccc; }
 .k-grid-header th.k-header, .k-grid td{ width:120px; } 