
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>  
      
    <title>make call</title>  
</head>  
<body>  
	<div class="container">
		
		<h2> Dial number : +18329245830 and listen for instructions :  </h2>
		<ul>
			<li> Thank you for calling to our demo app, please press 1 for a laugh. Press 2 for hello, Press 3 to redirect to redirect customer care </li>
			<li>Press 1: you will hear "ha ha ha ha ha"</li>
			<li>Press 2: you will hear "hello hello hello"</li>
			<li>Press 3: you will be redirected to customer care number, as of now it is "+919599308817"</li>
		</ul>
	</div>
</body>  
</html>